.content_detail{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
}
.icon-service{
    width: 2rem;
    height: 2rem;
    background-color:RGBA(52, 178, 70, 0.1);
    border-radius: 50%;
    font-size: 0.9rem;
    color: #34B246;
    text-align: center;
    line-height: 2rem;
    margin: 0 auto;
}
.character_content{
    width: 100%;
    font-size: 0.3rem;
    line-height: 0.6rem;
    text-align: center;
    margin-top: 0.76rem;
}
.confirm_btn{
    font-size:0.36rem;
    color:rgba(254,254,254,1);
    width:2.94rem;
    height:0.8rem;
    background:rgba(52,178,70,1);
    border-radius:0.4rem;
    padding: 0.22rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}