@charset "UTF-8";

html,body{ width: 100%; font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif; overflow-x:hidden;}
input,button,textarea{ font-family:'Microsoft Yahei', Arial, Helvetica, sans-serif;}
html{ font-size:62.5%; }
body{ font-size: 1.2rem; }

input::-webkit-cancel-button {display: none;}
input::-ms-clear {display: none;}
input[type=text]:focus{ box-shadow: none;}

*{ box-sizing:border-box; outline:none; -webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ display: block; max-width: 100%;}

.warp{ width: 7.5rem;}

/* 首次登录注册页 */
.register_box{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.8);
}
.register_page{
  font-size: 0;
  width: 5.2rem;
  margin: 1rem auto 0;
  padding: 0.3rem;
  background: #fff;
  border-radius: 0.1rem;
}
.register_list{
  position: relative;
  padding-bottom: 0.28rem;
}
.register_list h2{
  color: #1A1A1A;
  font-size: 0.3rem;
  padding-bottom: 0.2rem;
}
.register_list input{
  display: block;
  width: 4.68rem;
  height: 0.8rem;
  color: #1A1A1A;
  font-size: 0.3rem;
  padding-left: 0.2rem;
  border-radius: 0.05rem;
  border: solid 1px #999999;
}
.register_list .regiter_birth{
  height: 0.8rem;
  line-height: 0.8rem;
  color: #1A1A1A;
  font-size: 0.3rem;
  padding-left: 0.2rem;
  border: solid 1px #999999;
  border-radius: 0.05rem;
}
.register_list .icon-icon-arrDown-fill{
  position: absolute;
  top: 0.78rem;
  right: 0.2rem;
  color: #666666;
}
.register_list .register_code{
  position: absolute;
  top: 0.68rem;
  right: -0.08rem;
  width: 1.28rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  color: #fff;
  font-size: 0.3rem;
  background: #3990F5;
  border-radius:0rem 0.05rem 0.05rem 0rem;
}
.register_deal{
  font-size: 0;
  position: relative;
  text-align: center;
}
.register_deal input{
  position: absolute;
  top: -0.3rem;
  left: 0.9rem;
  width: 0.7rem;
  height: 1rem;
  opacity: 0;
}
.register_deal a{
  display: inline-block;
  color: #3990F5;
  font-size: 0.26rem;
  padding-left: 0.2rem;
  vertical-align: top;
}
.register_deal input[type=checkbox] + em{
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin: 0 0 0 0.2rem;
  background: url('../images/reg03.png') no-repeat;
  background-size: 100% 100%;
}
.register_deal input[type=checkbox]:checked + em{
  background: url('../images/reg02.png') no-repeat;
  background-size: 100% 100%;
}
.register_btn{
  width: 3.6rem;
  height: 0.8rem;
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.8rem;
  text-align: center;
  margin: 0.32rem auto;
  background: #3990F5;
  border-radius: 0.4rem;
  box-shadow:0px 15px 30px 0px rgba(12,50,93,0.16);
}

/* 确认订单  订单信息 */
.order_info{
  margin: 0.32rem;
  padding: 0.32rem;
  border-radius: 0.2rem;
  background: #fff;
}
.order_info h2{
  padding-bottom: 0.32rem;
  color: #26363A;
  font-size: 0.3rem;
}
/* 支付方式 */
.order_pay{
  border-top: solid 1px #f5f5f5;
}
.order_pay li{
  padding-top: 0.45rem;
  color: #1A1A1A;
  font-size: 0.26rem;
}
.order_label {
  position: relative;
  display: inline-block;
  padding-left: 0.2rem;
}
.order_label input {
  position: absolute;
  top: -0.38rem;
  left: 0px;
  width: 0.7rem;
  height: 1rem;
  opacity: 0;
}
.order_label input[type=radio] + em {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url('../images/reg03.png') no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.order_label input[type=radio]:checked + em {
  background: url('../images/reg02.png') no-repeat;
  background-size: 100% 100%;
}
.conversion li{
  font-size: 0;
  padding-top: 0.32rem;
}
.conversion li span{
  display: inline-block;
  width: 1.3rem;
  color: #1A1A1A;
  font-size: 0.26rem;
  vertical-align: middle;
}
.conversion li input{
  display: inline-block;
  width: 4.7rem;
  padding-left: 0.32rem;
  color: #1A1A1A;
  font-size: 0.26rem;
  border: 0;
  vertical-align: middle;
}
.addres_box{
  font-size: 0;
  padding: 0.42rem 0;
  margin: 0.42rem 0;
  border-bottom: solid 1px #f5f5f5;
  border-top: solid 1px #f5f5f5;
}
.addres_name{
  display: inline-block;
  color: #1A1A1A;
  font-size: 0.26rem;
  padding-right: 0.12rem;
  vertical-align: middle;
}
.addres_box .order_label{
  padding-right: 0.82rem;
}
.addres_box .order_label input{
  top: -0.28rem;
  left: 0.18rem;
}
.addres_box span{
  display: inline-block;
  padding-left: 0.16rem;
  color: #666666;
  font-size: 0.26rem;
  vertical-align: middle;
}
.addres_box .order_label input[type=radio]:checked+em + span {
  color: #FF0000;
}
.addres_site{
  font-size: 0;
}
.addres_title{
  display: inline-block;
  color: #1A1A1A;
  font-size: 0.26rem;
  vertical-align: middle;
}
.addres_site input{
  width: 3.82rem;
  padding-left: 0.36rem;
  color: #1A1A1A;
  font-size: 0.26rem;
  border: 0;
  vertical-align: middle;
}
.addres_site i{
  margin-left: 0.52rem;
  color: #999999;
  font-size: 28px;
  vertical-align: middle;
}
.weui-cell {
  padding: 0;
  font-size: 0;
}
.weui-cell:before{
  border: 0;
}
.weui-label{
  width: auto;
  color: #1A1A1A;
  font-size: 0.26rem;
  margin-right: 0.38rem;
}
.weui-cell input{
  color: #1A1A1A;
  font-size: 0.26rem;
}
.weui-cell i{
  color: #999999;
  font-size: 28px;
  vertical-align: middle;
}
.weui-cell__bd{
  width: 64%;
  flex: 0.93;
  -webkit-flex: 0.93;
  -webkit-box-flex: 0.93;
}
.order_pay{
  font-size: 0;
  background: #fff;
}
.orser_txt1{
  display: inline-block;
  padding-top: 0.2rem;
  padding-left: 0.4rem;
  color: #666666;
  font-size: 0.24rem;
}
.orser_txt1 span{
  color: #FE503A;
  font-size: 0.36rem;
}
.orser_txt1 em{
  color: #FE503A;
  font-size: 0.32rem;
}
.order_btn{
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  color: #fff;
  font-size: 0.32rem;
  line-height: 1rem;
  text-align: center;
  background: #F71A08;
}
.addres_else{
  margin: 0.32rem;
  padding: 0.32rem;
  background: #fff;
  border-radius: 0.2rem;
}
.addres_else h2{
  color: #26363A;
  font-size: 0.3rem;
  padding-bottom: 0.22rem;
  border-bottom: solid 1px #EBEBEB;
}
.addres_else textarea{
  width: 100%;
  height: 1.98rem;
  padding-top: 0.2rem;
  color: #1A1A1A;
  font-size: 0.26rem;
  border: 0;
}
.else_txt{
  padding: 0 0 0.32rem 0.32rem;
  color: #999999;
  font-size: 0.26rem;
}
/* 搜索页面 */
.search_head{
  position: relative;
  padding: 0.26rem 0.32rem;
  font-size: 0;
}
.search_head input{
  width: 5.26rem;
  height: 0.6rem;
  color: #999999;
  font-size: 0.32rem;
  padding-left: 0.82rem;
  border-radius: 0.3rem;
  border: solid 1px #EBEBEB;
  vertical-align: middle;
}
.search_btn{
  display: inline-block;
  width: 1.4rem;
  height: 0.6rem;
  color: #fff;
  line-height: 0.6rem;
  font-size: 0.32rem;
  text-align: center;
  margin-left: 0.2rem;
  background: #FF0000;
  border-radius: 0.3rem;
  vertical-align: middle;
}
.btn_cancel{
  color: #1A1A1A;
  background: #E0E0E0;
}
.search_head .icon-sousuo{
  top: 0.35rem;
  left: 0.58rem;
  font-size: 18px;
}
.search_lately{
  padding-left: 0.35rem;
}
.search_lately h2{
  padding-bottom: 0.32rem;
  color: #1A1A1A;
  font-size: 0.32rem;
}
.search_lately ul{
  font-size: 0;
}
.search_lately li{
  display: inline-block;
  width: 1.6rem;
  height: 0.72rem;
  color: #666666;
  font-size: 0.3rem;
  line-height: 0.72rem;
  margin-right: 0.32rem;
  margin-bottom: 0.32rem;
  text-align: center;
  background: #F5F5F5;
  border-radius: 0.36rem;
}
